<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TestA 程序</title>

    @Styles.Render("~/Content/element")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/element")
    @Scripts.Render("~/bundles/axios")

</head>
<body>
    <div id="app">
        <el-menu theme="dark" default-active="activeIndex" class="el-menu-demo" mode="horizontal" v-on:select="handleSelect">
            <el-menu-item index="0">主基地</el-menu-item>
            <el-menu-item index="1">
                @Html.ActionLink("主页", "Index", "Home")
            </el-menu-item>
            <el-menu-item index="2">
                @Html.ActionLink("注销", "LogOff", "Account")
            </el-menu-item>
            <el-menu-item index="3">
                @Html.ActionLink("客户管理", "Index", "Customer")
            </el-menu-item>
            @*<el-menu-item index="4">
                    @Html.ActionLink("简历管理", "Index", "Resume")
                </el-menu-item>
                <el-menu-item index="5">
                    @Html.ActionLink("TestForm", "TestForm", "Resume")
                </el-menu-item>
                <el-menu-item index="6">
                    @Html.ActionLink("设置角色", "SetRole", "Resume")
                </el-menu-item>*@
        </el-menu>
    </div>
    <script>
        var Main = {
            data() {
                return {
                    activeIndex: '1',
                    activeIndex2: '1'
                };
            },
            methods: {
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                }
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app')
    </script>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
